# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env/
venv/
.venv/

# Large data / models
*.pkl
*.joblib
*.csv
*.xlsx
*.json

# Except small demo datasets
!matches.csv
!fixtures.csv
!prediction.csv

# Reports
*.pdf
!sports_report.pdf
